{% extends 'base.html' %}
{% block content %}
    {% if paginator.iter_pages() %}
        {% for post in paginator.items %}
            <div class="post-preview">
                <a href="/posts/{{ post.id }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                </a>
                {% if post.tags %}
                    <span>Tags:&nbsp;</span>
                    {% for tag in post.tags %}
                        <span class="label label-info">{{ tag }}</span>&nbsp;
                    {% endfor %}
                {% endif %}
                <p class="post-meta">Posted By
                    <a href="#">{{ post.author.username }} on {{ post.create_time| my_format_datetime }}</a>
                </p>
            </div>
            <hr>
        {% endfor %}

    {% else %}
        <h1>Welcome to MokoBlog</h1>}
    {% endif %}
    <ul class="pager">
        {% if paginator.has_prev %}
            <li class="previous">
                <a href="{{ url_for('blog.index') }} {{ paginator.per_num }}">&larr; Previous</a>
            </li>
        {% else %}
            <li class="previous disabled">
                <a href="#">&larr; Previous </a>
            </li>
        {% endif %}
        {% if paginator.has_next %}
            <li class="next">
                <a href="{{ url_for('blog.index') }}{{ paginator.next_num }}">Next &rarr;</a>
            </li>
        {% else %}
            <li class="next disabled">
                <a href="#">Next&rarr;</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}